/** Start Overall Styles **/
* {
    padding: 0;
    margin: 0;
}
body {
    background-image: url("../images/cowsimple.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}
.wrap {
    padding: 1em;
    margin: 0 auto;
    width: 900px;
    background: rgba(211,211,211,.75);
    border-radius: 30px;
    box-shadow: 3px 3px 5px 1px;
    margin-top: 15px;
}
.clear-left {
    clear: left;
}
.clear-right {
    clear: right;
}
.clear-both {
    clear: both;
}
.left {
    float: left;
}
.right {
    float: right;
}
.center {
  margin: 0 auto
}
.aright {
  text-align: right;
}
.header {
    font-family: Orbitron;
    text-align: center;
}

/** End Overall Styles **/


/** Start Nav-Bar **/

.main-nav {
    position: fixed;
    width: 8%;
    border-radius: 50px;
    background: #a9a9a9;
    padding: 0;
    transition: all .5s;
    height: 80px;
    box-shadow: 3px 3px 5px 1px;
    left: 10px;
    top: 10px;
}
.main-nav:hover {
    width: 8%;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
    border-top-left-radius:50px;
    border-top-right-radius:50px;
    height: 200px;
}
.main-nav:hover a {
    font-size: 18px;
    color: #000000;
    font-family: Orbitron;
    margin-top: 15px;
}
.main-nav:hover .triangle {
    height: 73%;
    opacity: .5;
}
.nav-img {
    width: 90%;
    padding-top: 3px;
    margin: 4.5%;
    position: absolute;
    top: 10px;
}
.nav-list {
    list-style: none;
    padding-left: .5%;
    transition: all 1s;
    position: absolute;
    top: 43%;
    left: 10px;
}
.nav-item {
    float: left;
    margin-left: 1%;
    clear: left;
    font-family: 'Audiowide', cursive;
}
.nav-item a {
    text-decoration: none;
    font-size: 0px;
    font-family: 'Audiowide', cursive;
    transition: all 1.3s;
}
.triangle {
    width: 95%;
    height:0%;
    opacity: .1;
    float: left;
    margin: 3.5%;
    position: absolute;
    top: 50px;
    transition: all 1.3s;
}
a:hover {
    text-decoration: underline;
}

/** End Nav-Bar **/


/** Start Footer Styles **/

.main-footer {
  height: 150px;
  clear: left;
  padding-top: 15px;
}
.footer-section {
  width: 32%;
  height: 100%;
  float: left;
  background: rgba(	211,211,211,.75);
  padding: .666666666%;
}
.social-media {
  text-align: center;
  height: 100%;
  width: 50px;
  margin-bottom: 15px;
}
.social-media a .fa {
  font-size: 32px;
}
.social-media a .fa-facebook {
  color: #4267b2;
}
.social-media a .fa-twitter-square {
  color: #1da1f2;
}
.social-media a .fa-instagram {
  color: #e3415e;
}
.social-media a .fa-tumblr-square {
  color: #56bc8a;
}
.section {
  height: 50px;
  width: 154px;
  margin: 0 auto;
}
.section:after {
  content: "";
  display: block;
  clear: center;
}

/** End Footer Styles **/