.testies {
    
}
.div-t {
    display:block;
    margin: 15px;
    background: rgba(60,179,113,.5);
    height: 160px;
    border-radius: 30px;
    box-shadow: 2px 2px 2px .5px;
}

.test-img {
    height: 133px;
    width: 100px;
    border: 1px solid #000;
    margin: 15px;
    border-radius: 30px;
    box-shadow: 2px 1px 2px .5px;
}
.p-test {
    font-size: 20px;
    padding: 15px;
    width: 80%;
}
